.login-box {
    position: relative;
    top: 45px;
    width: 100%;
    max-width: 400px;
    margin: auto;
    text-align: center;
}

.idpw-input {
    width: 90%;
    height: 40px;
    display: inline-block;
    padding: 15px;
    margin: 10px 0 10px 0;
    border-radius: 10px;
    border: 1px solid rgba(177, 177, 177, 0.705);
}

.name-input {
    width: 44%;
}

.firstname {
    margin-right: 2%;
}